/Library/
/Temp/
/Logs/
/Obj/
/UserSettings/
/Build/
/BuildAssets/
/BuildScene3D/
/Build*/
/TestResults/
/Tools/
/.vs/
/.idea/
/.vscode/
/.env
/.env.*
*.user
*.pdb
*.log
*.tmp
*.pidb
*.opendb
*.VC.db
*.unitypackage
*.apk
*.aab
*.mp4
*.pfx
*.keystore
*.jks
Thumbs.db
.DS_Store
*.csproj
*.sln
